<!--OnClick
<button (click)="onClick()">Greet</button>
<p>{{greeting}}</p>-->


<!-- <input #myName type="text">
<button (click)="logMessage(myName.value)">Log</button> -->

<!--two way binding-->

<!-- <input [(ngModel)]="name" type="text">
{{name}}
<button (click)="onClick()">Click</button>
{{greeting}} -->

<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">You picked red color</div>
    <div *ngSwitchCase="'blue'">You picked blue color</div>
    <div *ngSwitchDefault>Pick Again</div>
</div>

<div *ngFor="let color of colors; index as i">
    <h2>{{i}} {{color}}</h2>
</div>