<!--OnClick
<button (click)="onClick()">Greet</button>
<p>{{greeting}}</p>-->


<!-- <input #myName type="text">
<button (click)="logMessage(myName.value)">Log</button> -->

<!--two way binding-->

<!-- <input [(ngModel)]="name" type="text">
{{name}}
<button (click)="onClick()">Click</button>
{{greeting}} -->

<!--ngFor directive-->

<!-- <div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">You picked red color</div>
    <div *ngSwitchCase="'blue'">You picked blue color</div>
    <div *ngSwitchDefault>Pick Again</div>
</div>

<div *ngFor="let color of colors; index as i">
    <h2>{{i}} {{color}}</h2>
</div> -->

<!--Component interaction-->

<!-- <h2>{{"Hello " + parentData}}</h2>
<button (click)="fireEvent()">Send Event</button> -->

<!-- Exercise 1: Do registration form-->

<div *ngIf="displayInstruction; else elseBlock">
    PLEASE ENTER YOUR DETAILS BELOW!
</div>
<ng-template #elseBlock>
    <p>Instruction hidden</p>
</ng-template>

<div [ngSwitch]="userAs">
<div *ngSwitchCase="'Developer'">
    <p>Welcome Developer</p>
</div>

<div>{{"Welcome" + parentData}}</div>
<div *ngSwitchCase="'Tester'">
    <p>Welcome Tester</p>
</div>
</div>

<table>
    <tr>
        <td>
            <h2>First Name:</h2>
        </td>
        <td><input type="text" #firstName></td>
    </tr>
    <tr>
        <td>
            <h2>Last Name:</h2>
        </td>
        <td><input type="text" #lastName></td>
    </tr>
    <tr>
        <td>
            <h2>Age:</h2>
        </td>
        <td><input type="number" [(ngModel)]="age"></td>
    </tr>
    <tr>
        <td>
            <h2>Gender:</h2>
        </td>
        <td>
            <p>
                <input type="radio" value="Male" name="gender" [(ngModel)]="radioValue"> Male
                <input type="radio" value="Female" name="gender" [(ngModel)]="radioValue"> Female
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h2>Phone Number:</h2>
        </td>
        <td><input type="number" [(ngModel)]="phoneNumber"></td>
    </tr>
    <tr>
        <td>
            <h2>Address:</h2>
        </td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button (click)="welcomeUser(firstName.value, lastName.value)">Register</button>
    </tr>

</table>

<div>
    <h2>YOUR DETAILS ARE AS BELOW:</h2>
    <tr>
        <p>First Name:</p>
        <td>{{myname}}</td>
    </tr>
    <tr>
        <p>Last Name:</p>
        <td>{{mylastName}}</td>
    </tr>
    <tr>
        <p>Age:</p>
        <td>{{age}}</td>
    </tr>
    <tr>
        <p>Gender:</p>
        <td>{{radioValue}}</td>
    </tr>
    <tr>
        <p>Phone Number:</p>
        <td>{{phoneNumber}}</td>
    </tr>
</div>