<!-- <app-test></app-test> -->

<!--Component Interaction-->

<h1>Welcome to {{title}}</h1>
<!--@Output(event from child) @Input(to pass parentData to child component)-->
<app-test (childEvent)="message=$event" [parentData]="name"></app-test>
{{message}}

<div>
    <h1>Routing and navigation</h1>
</div>
<nav>
    <a [routerLink]="['/registration']" routerLinkActive="active">Registration </a>
    <a [routerLink]="['/departments']" routerLinkActive="active">Departments </a>
    <a [routerLink]="['/employees']" routerLinkActive="active">Employees </a>
    <a [routerLink]="['/employee']" routerLinkActive="active">EmployeeList & Details </a>
</nav>
<app-routing-example></app-routing-example>